
@{
    ViewBag.Title = "Index";
}

<h2>Index  @ViewBag.sampleData <button class="btn btn-success" onclick="addArtist()">Add New</button></h2>



<div id="artistList"></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="Artist">
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            bindList();
        });

        function addArtist() {
            ArtistForm("Add", 0)
        }
        function EditForm(e) {
            var ID = $(e).attr('data-artistID');
            ArtistForm("Edit", ID)
        }

        function ArtistForm(FormType, ID) {
                $.ajax({
                    cache: false,
                    url: '@Url.Action("_ArtistForm", "Artist")',
                    data: { FormType: FormType, ID: ID },
                    beforeSend: function () {

                    },
                    success: function (myData) {
                        $('#Artist').empty().append(myData);
                    },
                    complete: function () {
                        $('#myModal').modal('show');


                        $('#ArtistForm').submit(function (e) {
                            e.preventDefault();
                            $.ajax({
                                cache: false,
                                url: '@Url.Action("UpSertArtist", "Artist")',
                                type: "Post",
                                data: $(this).serialize(),
                                beforeSend: function () {
                                    $('.btn').prop("disabled", true);
                                },
                                success: function (myData) {
                                    bindList();
                                    $('#myModal').modal('hide');
                                },
                                complete: function () {
                                    $('.btn').prop("disabled", false);
                                }
                            });
                        });
                    }
                });
            }


        function bindList() {
               $.ajax({
                    cache: false,
                    url: '@Url.Action("_artistListPartial", "Artist")',

                    beforeSend: function () {

                    },
                    success: function (result) {
                        $('#artistList').empty().append(result);
                    },
                    complete: function () {
                    }
            });
        }



    </script>
    
    
    }
