@model SampleWeb.Entities.Album
@using (Html.BeginForm("UpSertAlbum", "Album", FormMethod.Post, new { id = "AlbumForm" }))
{
    <div class="modal-header bg-blue">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title">
            <img src="~/Content/Image/clipboard.png" width="40" height="40" /> Add New
        </h4>
    </div>
    <div class="modal-body" id="mb">

        <div class="row">
            <div class="form-group col-md-6">
                <label>Name</label><span class="text-danger">*</span>
                @Html.TextBoxFor(m => m.AlbumName, new { type = "text", @class = "form-control" })

            </div>
            <div class="form-group col-md-6">
                <label>Price</label><span class="text-danger">*</span>
                @Html.TextBoxFor(m => m.Price, new { type = "text", @class = "form-control" })

            </div>
            <div class="form-group col-md-6">
                <label>Artist</label><span class="text-danger">*</span>
               <select name="ArtistID" class="form-control" id="artist_DD"></select>
            </div>
           
        </div>
    </div>

    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.IsDeleted)


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id=""><span class="icon-add"></span> Save</button>
    </div>

}


